body {
    font-family: 'Inter', sans-serif;
    background-color: #f3f4f6;
}

canvas {
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
}

.btn-tab {
    transition: all 0.2s;
}

.btn-tab.active {
    background-color: #2563eb;
    color: white;
}
